{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Henrique Mira Mitica</h1>
        <h4><b>OBJETIVO</b></h4>
        <p>- Atuar na área de Ciências da Computação</p>
        
        <h4><b>FORMAÇÃO ACADÊMICA</b></h4>
        <ul>
            <li>Ensino Médio completo (2022)</li>
            <li>Cursando o quarto semestre de Ciências da Computação na UniMAX (Período noturno 19h às 22h30)</li>
        </ul>

        <h4><b>CURSOS COMPLEMENTARES</b></h4>
        <p>- SENAI - Google Cloud Foundations (2022)</p>
        
        <h4><b>EXPERIÊNCIA</b></h4>
        <p>- Instrutor de informática na Compuway (2024)</p>
        
        <h4><b>CONHECIMENTOS</b></h4>
        <ul>
            <li>Pacote Office</li>
            <li>Línguas de programação: C, C++, Python (estudando HTML e Banco de dados MySQL)</li>
        </ul>
    </div>
</div>
{% endblock %}
